<section class="home-about spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="about-text">
          <h2>WELCOME TO Fightrix</h2>
          <p class="short-details">Unleash Your Power. Rise Together.</p>
          <p class="long-details">
            Fightrix Combat Sports Society is more than just a place to train — it's a community united by the drive to push boundaries, conquer challenges, and grow together. Reach out today to begin your personal training journey and discover what you're truly capable of!
          </p>

          <% if false %>
            <a href="#" class="primary-btn about-btn">Learn More</a>
          <% end %>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="about-img">
          <%= image_tag asset_path("home-about.png") %>
        </div>
      </div>
    </div>
  </div>
</section>
