<div class="map">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3680.501261775972!2d75.85475887510316!3d22.709602927935393!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3962fd0642d97a57%3A0xdfc5ae3b95dc7564!2sPagnis%20Paga%2C%20Indore%2C%20Madhya%20Pradesh%20452007!5e0!3m2!1sen!2sin!4v1744479784331!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

  <div class="map-contact-detalis">
    <div class="open-time">
      <h5>Days:</h5>
      <ul>
        <li>Morning: <span>06:00 - 10:00</span></li>
        <li>Evening: <span>17:00 - 21:00</span></li>
        <li>Sunday: <span>Special Batches</span></li>
      </ul>
    </div>

    <div class="map-contact-form">
      <h5>Contact Us</h5>
      <form action="#">
        <input type="text" placeholder="Name">
        <input type="text" class="phone" placeholder="Phone">
        <textarea placeholder="Message"></textarea>
        <button type="submit" class="site-btn">Submit Now</button>
      </form>
    </div>
  </div>
</div>
